@import '../styles/util.less';
.heroHead {
position: fixed;
width:100%;
z-index: 50;
.searchInput {
    .px2rem(width, 280);
    .px2rem(padding-right, 20);
    .px2rem(height, 30);
    background-color:#fff;
    .px2rem(border-radius, 15);
    border: 1px solid #e5e5e5;
    margin: 0 auto;
    text-align: center;
    color: #c8c8c8;
    .px2rem(margin-top, 10);
    display: block;
    .searchHero {
        .px2rem(font-size,13);
         .px2rem(height, 30);
         float: right;
         .px2rem(width, 155);
        .px2rem(line-height, 30);
        text-align: left;
    }
    .searchHero:focus {
         outline: 0;
    }
}
}