@import './util.less';
.heroNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .px2rem(height, 94);
    .px2rem(font-size, 14);
    color:#333;
    background-color: #fff;
    .iconText {
        text-align: center;
        .px2rem(margin-bottom, 10);
        .iconHero{
            .px2rem(font-size, 30);
            color: red;
        }
    }
}